@import '../../scss/variables';

nav {
  display: flex;
  justify-content: right;
  gap: #{2 *  $general-spacing};
  border-bottom: 2px white solid;  

  a {
    padding: $general-spacing;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;

    &.active {
      color: black;
      background-color: white;
    }
  }
}