@import './variables';

a {
  color: $main-color;
}

p {
  margin-bottom: #{ 2 * $general-spacing };
}

img.stand-alone {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: #{ 2 * $general-spacing };
}